.performerBox {
  display: flex;
}
// #requestBox {
//   grid-area: box;
// }

// #buttons {
//   width: 1rem;
// }

.performer {
}
#perfPic {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
h1 {
  display: flex;
  width: 100%;
}
