// #requestBox {
//   grid-area: box;
// }

// #buttons {
//   width: 1rem;
// }

//Google fonts//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$form-font: 'Poppins', sans-serif;

#perfPic {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
h1 {
  display: flex;
  width: 100%;
}
#logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#p_select {
  display: flex;
  margin-left: 15rem;
  margin-top: 0;
}

// main {
//   display: flex;
//   flex-direction: column;
// }

#perPics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  background: white;
}

.fullForm {
  font-family: $form-font;
}

#name {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: $form-font;
}

#email {
  font-family: $form-font;
  margin-left: 1rem;
}

.formBox {
  font-family: $form-font;
}
